.block-ellipsis-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 72px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-ellipsis-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    height: 85px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


